<!doctype html>
<head>
  <title>Catchphrases</title>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="game-grid" style="background:url(static/{{gif}})">
          <div class="game-row">
            <div class="game-tile"></div>
            <div class="game-tile"></div>
            <div class="game-tile"></div>
          </div>
          <div class="game-row">
            <div class="game-tile"></div>
            <div class="game-tile"></div>
            <div class="game-tile"></div>
          </div>
          <div class="game-row">
            <div class="game-tile"></div>
            <div class="game-tile"></div>
            <div class="game-tile"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% if gif_num+1 == gif_len %}
          <h3 class="next-button"><a href="aob">NEXT</a></h3>
        {% else %}
        <p>
          <h3 class="next-button"><a href="{{gif_num+1}}">NEXT</a></h3>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
  <script src="static/js/tiles.js"></script>

</body>
