<!doctype html>
<head>
  <title>Catchphrases</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">{{title}}</h1>
      {% if image_link != None %}
      <img src={{image_link}}>
      {% endif %}
      {% if link_value != None %}
      <a href="{{link_value}}"><button type="button" class="btn btn-success btn-lg">NEXT</button></a>
      {% endif %}
    </div>
  </div>
</body>
