<!doctype html>
<head>
  <title>Catchphases</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <p>WTF Catchphrase</p>
    <img src="static/{{gif}}" width=300 height=300/>
    {% if gif_num+1 == gif_len %}
      <p>The End</p>
    {% else %}
    <p>
      <a href="{{gif_num+1}}">Next</a>
    </p>
    {% endif %}
    <p>{{gif_num+1}} of {{gif_len}}</p>
  </div>
</body>
